*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #89C15E;
}

/* ===== score section ======= */
.score-card{
    height: 20vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.scrore{
    width: 70%;
    height: 15vh;
    border: 1.5px solid #fff;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-title{
    width: 60%;
    color: #fff;
    
}
.score-section{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.computer-score{
    width: 45%;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    padding: 10px 0px;
}
.your-score{
    width: 50%;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    padding: 10px 0px;
}

/* ===== Game section ======= */
.main-game{
    height: 70vh;
    width: 90%;
    margin: auto;
    background-color: rgb(169, 238, 10);
    position: relative;
}

/* ===== Rules section ======= */
.rules{
    height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
}
.rules button{
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.1s ease;
}
.rules button:hover{
    background-color: #628d42;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.rules-board{
    width: 25%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 6px solid #fff;
    background-color: #004429;
    color: #fff;
    border-radius: 10px;
    padding: 10px 30px;
}
.rules-board h3{
    text-align: center;
    padding: 10px 0px;
}
.rules-board li{
    padding: 7px 0px;
}
.hide-rules{
    display: none;
}

/* =========== Media Quries =========== */
@media screen and (max-width: 600px) {
    .scrore{
        width: 100%;
    }
    .score-title{
        width: 40%;
    }
    .score-section{
        width: 60%;
    }
    .computer-score{
        width: 45%;
    }
    .your-score{
        width: 45%;
    }
    .rules-board{
        width: 90%;
    }
  }